doctype
html(lang="zh")
    head
        title #{title}
    body
        h1="jade -node template engine"
        #container.col
            if youareUsingJade
                p you are amazing
            else
                p get on it!
            p.
                Jade is a terse and simple <br>
                templating language with a <br>
                strong focus on performance <br>
                and powerful features.
            ul.test
                li 第一版
                li 第二版
                li 第三版
                li 第四版
                li 第五版
                li 第七版
        a(href='http://www.baidu.com/') baidu<br>
        a.button(href="http://www.baidu.com/") baidu
        -var authenticated = true
        p(class=authenticated ? 'authed':'anon') this is a page
        input(type='checkbox' name='agreement' checked)
        a(style={color:'red',background:'green'}, href="http://www.baidu.com") this is someone i want to see

